# I. Data Exploration
`Dataset:` housing_data_2016_2017.csv 

This dataset is the raw data representation of Housing data in 2016 and 2017 found at MLSI. The dataset was harvested with Amazon's MTurk and it is a raw download from their system.

In [49]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
%pip install missingno
%pip install sklearn.preprocessing import LabelEncoder

Requirement already satisfied: missingno in c:\users\usflo\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\usflo\anaconda3\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\usflo\anaconda3\lib\site-packages (from missingno) (3.8.0)
Requirement already satisfied: scipy in c:\users\usflo\anaconda3\lib\site-packages (from missingno) (1.11.4)
Requirement already satisfied: seaborn in c:\users\usflo\anaconda3\lib\site-packages (from missingno) (0.12.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\usflo\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pandas>=0.25 in c:\users\usflo\anaconda3\lib\site-packages (from seaborn->missingno) (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\usflo\anaconda3\lib\site-packages (from pandas>=0.25->seaborn->missingno) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usflo\anaconda3\lib\site-packages (from pandas>=0.25->seaborn->missingno) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\usflo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Collecting sklearn.preprocessing
  Downloading sklearn_preprocessing-0.1.0-py3-none-any.whl.metadata (70 bytes)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement import (from versions: none)
ERROR: No matching distribution found for import

In [4]:
housing_data = pd.read_csv("housing_data_2016_2017.csv")

# (2,230 Rows/Entries , 55 Columns/Features)
housing_data.shape

(2230, 55)

In [5]:
housing_data.describe()

,Keywords,MaxAssignments,AssignmentDurationInSeconds,AutoApprovalDelayInSeconds,NumberOfSimilarHITs,LifetimeInSeconds,RejectionTime,RequesterFeedback,WorkTimeInSeconds,approx_year_built,community_district_num,num_bedrooms,num_floors_in_building,num_full_bathrooms,num_half_bathrooms,num_total_rooms,pct_tax_deductibl,sq_footage,walk_score
count,0.0,1472.0,1472.0,1472.0,0.0,0.0,0.0,0.0,1472.000000,2190.000000,2211.000000,2115.000000,1580.000000,2230.000000,172.000000,2228.000000,476.00000,1020.000000,2230.000000
mean,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,162.389946,1962.712329,26.326549,1.653428,7.785443,1.231390,0.953488,4.138689,45.39916,955.361765,83.915695
std,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,111.694958,21.079921,2.953197,0.743614,7.515838,0.444599,0.302310,1.345909,6.94886,380.864722,14.747313
min,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,22.000000,1893.000000,3.000000,0.000000,1.000000,1.000000,0.000000,0.000000,20.00000,100.000000,7.000000
25%,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,89.000000,1950.000000,25.000000,1.000000,3.000000,1.000000,1.000000,3.000000,40.00000,743.000000,77.000000
50%,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,127.000000,1958.000000,26.000000,2.000000,6.000000,1.000000,1.000000,4.000000,50.00000,881.000000,89.000000
75%,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,197.000000,1970.000000,28.000000,2.000000,7.000000,1.000000,1.000000,5.000000,50.00000,1100.000000,95.000000
max,NaN,1.0,900.0,60.0,NaN,NaN,NaN,NaN,815.000000,2017.000000,32.000000,6.000000,34.000000,3.000000,2.000000,14.000000,75.00000,6215.000000,99.000000

In [6]:
housing_data.columns

Index(['HITId', 'HITTypeId', 'Title', 'Description', 'Keywords', 'Reward',
       'CreationTime', 'MaxAssignments', 'RequesterAnnotation',
       'AssignmentDurationInSeconds', 'AutoApprovalDelayInSeconds',
       'Expiration', 'NumberOfSimilarHITs', 'LifetimeInSeconds',
       'AssignmentId', 'WorkerId', 'AssignmentStatus', 'AcceptTime',
       'SubmitTime', 'AutoApprovalTime', 'ApprovalTime', 'RejectionTime',
       'RequesterFeedback', 'WorkTimeInSeconds', 'LifetimeApprovalRate',
       'Last30DaysApprovalRate', 'Last7DaysApprovalRate', 'URL',
       'approx_year_built', 'cats_allowed', 'common_charges',
       'community_district_num', 'coop_condo', 'date_of_sale',
       'dining_room_type', 'dogs_allowed', 'fuel_type',
       'full_address_or_zip_code', 'garage_exists', 'kitchen_type',
       'maintenance_cost', 'model_type', 'num_bedrooms',
       'num_floors_in_building', 'num_full_bathrooms', 'num_half_bathrooms',
       'num_total_rooms', 'parking_charges', 'pct_tax_deductibl', 'sale_price',
       'sq_footage', 'total_taxes', 'walk_score',
       'listing_price_to_nearest_1000', 'url'],
      dtype='object')

# II. Data Cleaning
The limitation on the data population to predict on:

`LOCATION` : Queens, NY <br>
`HOME TYPES` :  Condo / homeowner assoc / and Co-op <br> 
`MAXIMUM SALE PRICE` :  >= $1M <br>
`TIME FRAME` :  February 2016 to February 2017 <br>

`ZIP CODES` : 
- `Northeast Queens` 11361 11362, 11363 11364
- `North Queens` 11354 11355 11356 11357 11358 11359 11360
- `Central Queens` 11365 11366 11367
- `Jamaica` 11412 11423 11432 11433 11434 11435 11436
- `Northwest Queens` 11101 11102 11103 11104 11105 11106
- `West Central Queens` 11374 11375 11379 11385
- `Southeast Queens` 11004 11005 11411 11413 11422 11426 11427 11428 11429
- `Southwest Queens` 11414 11415 11416 11417 11418 11419 11420 11421
- `West Queens` 11368 11369 11370 11372 11373 11377 11378

## II.1 Removal of Unecessary Features

In [9]:
# Drop Unusable Columns
pd.set_option('display.max_columns', None)
print(housing_data.head())

unusable_features = [
                    "HITId", "HITTypeId", "Title", "Description", "Keywords", "Reward", "CreationTime", "MaxAssignments", "RequesterAnnotation", "AssignmentDurationInSeconds", "AutoApprovalDelayInSeconds",
                     "Expiration", "NumberOfSimilarHITs", "LifetimeInSeconds", "AssignmentId", "WorkerId", "AssignmentStatus", "AcceptTime", "SubmitTime", "AutoApprovalTime", "ApprovalTime", "RejectionTime",
                     "RequesterFeedback", "WorkTimeInSeconds", "LifetimeApprovalRate", "Last30DaysApprovalRate", "Last7DaysApprovalRate", "URL", "pct_tax_deductibl", "total_taxes", "listing_price_to_nearest_1000",
                     "url"
                     ]

useful_features = [
                   "approx_year_built", "cats_allowed", "common_charges", "community_district_num", "coop_condo", "date_of_sale", "dining_room_type", "dogs_allowed", "fuel_type", "full_address_or_zip_code",
                   "garage_exists", "kitchen_type", "maintenance_cost", "model_type", "num_bedrooms", "num_floors_in_building", "num_full_bathrooms", "num_half_bathrooms", "num_total_rooms", 
                   "parking_charges", "sale_price", "sq_footage", "walk_score", 
                    ]

                            HITId                       HITTypeId  \
0  3OID399FXG7F26JWONXF0Y86J90FD4  36BILMLQB75QQNBTYKGYCZWDN8TVAU
1  3MQY1YVHS3K2MF90MWR2LPQH7KJ2B0  36BILMLQB75QQNBTYKGYCZWDN8TVAU
2  3DGDV62G7O94Q9AA5193G9V6OOY2PL  36BILMLQB75QQNBTYKGYCZWDN8TVAU
3  3087LXLJ6MGL3MI2CB9KLRONPKRF0B  36BILMLQB75QQNBTYKGYCZWDN8TVAU
4  3FULMHZ7OUX88KSKHZ0ZSKY93XJ4MN  36BILMLQB75QQNBTYKGYCZWDN8TVAU

                                               Title  \
0  Find Information about Housing To Help a Stude...
1  Find Information about Housing To Help a Stude...
2  Find Information about Housing To Help a Stude...
3  Find Information about Housing To Help a Stude...
4  Find Information about Housing To Help a Stude...

                                      Description  Keywords  Reward  \
0  Go to a link and copy information into the HIT       NaN  $0.05
1  Go to a link and copy information into the HIT       NaN  $0.05
2  Go to a link and copy information into the HIT       NaN  $0.05
3  Go to a link and copy information into the HIT       NaN  $0.05
4  Go to a link and copy information into the HIT       NaN  $0.05

                   CreationTime  MaxAssignments  \
0  Wed Feb 15 22:13:37 PST 2017             1.0
1  Wed Feb 15 22:13:37 PST 2017             1.0
2  Wed Feb 15 22:13:41 PST 2017             1.0
3  Wed Feb 15 22:13:33 PST 2017             1.0
4  Wed Feb 15 22:13:38 PST 2017             1.0

                                RequesterAnnotation  \
0  BatchId:2689947;OriginalHitTemplateId:920937336;
1  BatchId:2689947;OriginalHitTemplateId:920937336;
2  BatchId:2689947;OriginalHitTemplateId:920937336;
3  BatchId:2689947;OriginalHitTemplateId:920937336;
4  BatchId:2689947;OriginalHitTemplateId:920937336;

   AssignmentDurationInSeconds  AutoApprovalDelayInSeconds  \
0                        900.0                        60.0
1                        900.0                        60.0
2                        900.0                        60.0
3                        900.0                        60.0
4                        900.0                        60.0

                     Expiration  NumberOfSimilarHITs  LifetimeInSeconds  \
0  Wed Feb 22 22:13:37 PST 2017                  NaN                NaN
1  Wed Feb 22 22:13:37 PST 2017                  NaN                NaN
2  Wed Feb 22 22:13:41 PST 2017                  NaN                NaN
3  Wed Feb 22 22:13:33 PST 2017                  NaN                NaN
4  Wed Feb 22 22:13:38 PST 2017                  NaN                NaN

                     AssignmentId        WorkerId AssignmentStatus  \
0  32KTQ2V7RDFCSAWQOW1SXC5AZIC9MB  A231MNJJDDF3LS         Approved
1  35LDD5557A4W96FHSTSHNLJQAB7MKZ  A394B5QVCVKU7A         Approved
2  3FFJ6VRIL1O80XIM3LK7C8X0F5U0I6  A231MNJJDDF3LS         Approved
3  3S4AW7T80BIRPM8T7P4MGRF5DL74L7   AHXBZXWIZJSVG         Approved
4  3JMSRU9HQIUCDTHGAZI5CMPYH7REVS  A231MNJJDDF3LS         Approved

                     AcceptTime                    SubmitTime  \
0  Thu Feb 16 05:32:36 PST 2017  Thu Feb 16 05:35:37 PST 2017
1  Wed Feb 15 22:19:51 PST 2017  Wed Feb 15 22:21:52 PST 2017
2  Thu Feb 16 03:17:01 PST 2017  Thu Feb 16 03:19:01 PST 2017
3  Thu Feb 16 04:54:24 PST 2017  Thu Feb 16 04:57:04 PST 2017
4  Wed Feb 15 23:54:29 PST 2017  Wed Feb 15 23:56:45 PST 2017

               AutoApprovalTime             ApprovalTime  RejectionTime  \
0  Thu Feb 16 05:36:37 PST 2017  2017-02-16 13:37:11 UTC            NaN
1  Wed Feb 15 22:22:52 PST 2017  2017-02-16 06:23:11 UTC            NaN
2  Thu Feb 16 03:20:01 PST 2017  2017-02-16 11:20:11 UTC            NaN
3  Thu Feb 16 04:58:04 PST 2017  2017-02-16 12:58:11 UTC            NaN
4  Wed Feb 15 23:57:45 PST 2017  2017-02-16 07:58:11 UTC            NaN

   RequesterFeedback  WorkTimeInSeconds LifetimeApprovalRate  \
0                NaN              181.0       100% (187/187)
1                NaN              121.0           100% (8/8)
2                NaN              120.0       100% (187/187)
3                NaN              160.0       100% (115/115)
4                NaN              136.0       100% (187/187)

  Last30DaysApprovalRate Last7DaysApprovalRate  \
0         100% (187/187)        100% (187/187)
1             100% (8/8)            100% (8/8)
2         100% (187/187)        100% (187/187)
3         100% (115/115)        100% (103/103)
4         100% (187/187)        100% (187/187)

                                                 URL  approx_year_built  \
0  http://www.mlsli.com/homes-for-sale/address-no...             1955.0
1  http://www.mlsli.com/homes-for-sale/30-11-Pars...             1955.0
2  http://www.mlsli.com/homes-for-sale/102-14-Lew...             2004.0
3  http://www.mlsli.com/homes-for-sale/144-48-Roo...             2002.0
4  http://www.mlsli.com/homes-for-sale/245-27-76t...             1949.0

  cats_allowed common_charges  community_district_num coop_condo date_of_sale  \
0           no          $767                     25.0      co-op    2/16/2016
1           no            NaN                    25.0      co-op    2/16/2016
2           no          $167                     24.0      condo    2/17/2016
3           no          $275                     25.0      condo    2/17/2016
4          yes            NaN                    26.0      co-op    2/18/2016

  dining_room_type dogs_allowed fuel_type  \
0            combo           no       gas
1           formal           no       oil
2            combo           no       NaN
3            combo           no       gas
4            combo          yes       gas

                            full_address_or_zip_code garage_exists  \
0                                 Flushing NY, 11355           NaN
1  30-11 Parsons Blvd,  Flushing NY, 11354 ( Sold...           NaN
2                102-14 Lewis Ave,  Corona NY, 11368           NaN
3          144-48 Roosevelt Ave,  Flushing NY, 11354           NaN
4              245-27 76th Ave,  Bellerose NY, 11426           NaN

  kitchen_type maintenance_cost         model_type  num_bedrooms  \
0       eat in              NaN  Mitchell Garden 3           2.0
1       eat in            $604          Jr-4 Model           1.0
2   efficiency              NaN        Apt In Bldg           1.0
3       eat in              NaN   144-48 Roosevelt           3.0
4       eat in            $660                 C-1           2.0

   num_floors_in_building  num_full_bathrooms  num_half_bathrooms  \
0                     6.0                   1                 NaN
1                     7.0                   1                 NaN
2                     1.0                   1                 NaN
3                     NaN                   2                 NaN
4                     2.0                   1                 NaN

   num_total_rooms parking_charges  pct_tax_deductibl sale_price  sq_footage  \
0              5.0             NaN                NaN  $228,000          NaN
1              4.0             NaN                NaN  $235,500        890.0
2              3.0             NaN                NaN  $137,550        550.0
3              5.0             NaN                NaN  $545,000          NaN
4              4.0             NaN               39.0  $241,700        675.0

  total_taxes  walk_score listing_price_to_nearest_1000  url
0         NaN          82                           NaN  NaN
1         NaN          89                           NaN  NaN
2     $5,500           90                           NaN  NaN
3     $2,260           94                           NaN  NaN
4         NaN          71                           NaN  NaN

In [41]:
print("Total number of columns: ", len(housing_data.columns))
print("Total number of unusable features: ", len(unusable_features))
print("Total number of usable features:", len(useful_features))
print("Unusable + Usable = ", len(unusable_features) + len(useful_features))

Total number of columns:  55
Total number of unusable features:  32
Total number of usable features: 23
Unusable + Usable =  55

## I.II Feature Engineering
- Conversion of data types
- Imputation

In [246]:
import missingno as msno    # Library used for visualization of missing data

In [247]:
# Drop unusable columns 
housing_data_reduced = housing_data.drop(columns=unusable_features)
housing_data_reduced

,approx_year_built,cats_allowed,common_charges,community_district_num,coop_condo,date_of_sale,dining_room_type,dogs_allowed,fuel_type,full_address_or_zip_code,garage_exists,kitchen_type,maintenance_cost,model_type,num_bedrooms,num_floors_in_building,num_full_bathrooms,num_half_bathrooms,num_total_rooms,parking_charges,sale_price,sq_footage,walk_score
0,1955.0,no,$767,25.0,co-op,2/16/2016,combo,no,gas,"Flushing NY, 11355",NaN,eat in,NaN,Mitchell Garden 3,2.0,6.0,1,NaN,5.0,NaN,"$228,000",NaN,82
1,1955.0,no,NaN,25.0,co-op,2/16/2016,formal,no,oil,"30-11 Parsons Blvd, Flushing NY, 11354 ( Sold...",NaN,eat in,$604,Jr-4 Model,1.0,7.0,1,NaN,4.0,NaN,"$235,500",890.0,89
2,2004.0,no,$167,24.0,condo,2/17/2016,combo,no,NaN,"102-14 Lewis Ave, Corona NY, 11368",NaN,efficiency,NaN,Apt In Bldg,1.0,1.0,1,NaN,3.0,NaN,"$137,550",550.0,90
3,2002.0,no,$275,25.0,condo,2/17/2016,combo,no,gas,"144-48 Roosevelt Ave, Flushing NY, 11354",NaN,eat in,NaN,144-48 Roosevelt,3.0,NaN,2,NaN,5.0,NaN,"$545,000",NaN,94
4,1949.0,yes,NaN,26.0,co-op,2/18/2016,combo,yes,gas,"245-27 76th Ave, Bellerose NY, 11426",NaN,eat in,$660,C-1,2.0,2.0,1,NaN,4.0,NaN,"$241,700",675.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2225,1987.0,no,$480,25.0,condo,NaN,combo,no,gas,"Not AvailableFlushing NY, 11355",NaN,combo,NaN,Colden Luxury Condo,2.0,7.0,1,NaN,4.0,NaN,NaN,NaN,97
2226,1983.0,yes,$956,25.0,condo,NaN,formal,no,gas,"One Bay Club Dr, Bayside NY, 11360",yes,eatin,NaN,2 Br Deluxe,2.0,NaN,2,NaN,5.0,$99,NaN,NaN,82
2227,2010.0,no,$250,24.0,condo,NaN,formal,no,gas,"Ridgewood NY, 11385",NaN,combo,NaN,Modern,3.0,NaN,2,NaN,6.0,NaN,NaN,1500.0,96
2228,2010.0,no,$250,24.0,condo,NaN,formal,no,gas,"Ridgewood NY, 11385",NaN,combo,NaN,Condo,3.0,4.0,2,NaN,6.0,NaN,NaN,1600.0,96
2229,1982.0,no,$792,25.0,condo,NaN,formal,no,gas,"Two Bay Club Drive, Bayside NY, 11360",yes,combo,NaN,2 Bedroom,2.0,NaN,2,NaN,5.0,NaN,NaN,1134.0,82

In [248]:
# Convert date to date_time object 
housing_data_reduced['date_of_sale'] = pd.to_datetime(housing_data['date_of_sale'])

In [234]:
print("One hot encoding of cats_allowed...")

print("Before: " , housing_data_reduced['cats_allowed'].unique())
housing_data_reduced['cats_allowed'] = housing_data_reduced['cats_allowed'].replace({'y':'yes'}) # Convert y -> yes
housing_data_reduced['cats_allowed'] = housing_data_reduced['cats_allowed'].map({'yes': 1, 
                                                                                 'no': 0})
print("After: " , housing_data_reduced['cats_allowed'].unique())

One hot encoding of cats_allowed...
Before:  ['no' 'yes' 'y']
After:  [0 1]

In [249]:
print("Conversion of ordinal categorical into leveled factors...")
# 1 -> Condo
# 2 -> Co-op
print("Before: " , housing_data_reduced['coop_condo'].unique())
# Scale Map to preserve order
coop_condo_scaler = {'co-op' : 1,
                     'condo' : 2}
# Last element of the categories array has the highest priority
housing_data_reduced['coop_condo'] = housing_data_reduced['coop_condo'].replace(coop_condo_scaler)
print("After: " , housing_data_reduced['coop_condo'].unique())

Conversion of ordinal categorical into leveled factors...
Before:  ['co-op' 'condo']
After:  [1 2]

In [250]:
print("Conversion of Sale Price from string to numeric and the removal of dollar sign...")

# Before
print("Before :")
print(housing_data_reduced['sale_price'])

#   Remove currency symbols and commas
housing_data_reduced['sale_price'] = housing_data_reduced['sale_price'].str.replace('[\$,]', '', regex=True)
# convert to numeric, coercing errors to NaN
housing_data_reduced['sale_price'] = pd.to_numeric(housing_data_reduced['sale_price'], errors='coerce')

# After
print("\nSale_price values after conversion to numeric:")
print(housing_data_reduced['sale_price'])

Conversion of Sale Price from string to numeric and the removal of dollar sign...
Before :
0       $228,000
1       $235,500
2       $137,550
3       $545,000
4       $241,700
          ...
2225          NaN
2226          NaN
2227          NaN
2228          NaN
2229          NaN
Name: sale_price, Length: 2230, dtype: object

Sale_price values after conversion to numeric:
0       228000.0
1       235500.0
2       137550.0
3       545000.0
4       241700.0
          ...
2225         NaN
2226         NaN
2227         NaN
2228         NaN
2229         NaN
Name: sale_price, Length: 2230, dtype: float64

In [251]:
print("Finding the mean sale price per dining_room_type...")
# Find the mean price of each dining_room_type to find which one ranks the highest
# Take a subset with values on sale_price so we can get the mean
housing_data_reduced_subset = housing_data_reduced.dropna(subset=['sale_price'])
# Group by 'dining_room_type' and calculate the mean of 'sale_price'
mean_sale_price_by_dining_room = housing_data_reduced_subset.groupby('dining_room_type')['sale_price'].mean()

Finding the mean sale price per dining_room_type...

In [252]:
# Results for dining_room_type
print("Mean sale_price by dining_room_type:")
print(mean_sale_price_by_dining_room)

# Create a scaler to maintain order based off of mean price
dining_room_type_scaler = { 'none' : 1,
                     'dining area' : 2,
                     'combo' : 3,
                     'other' : 4,
                     'formal' : 5}

Mean sale_price by dining_room_type:
dining_room_type
combo          298695.763485
dining area    177750.000000
formal         365289.646552
other          300683.673469
Name: sale_price, dtype: float64

In [253]:
# Convert to numeric factor
print("Converting dining_room_type from categorical to numeric...")
print("Before :" , housing_data_reduced['dining_room_type'].unique())
# Conversion
housing_data_reduced['dining_room_type'] = housing_data_reduced['dining_room_type'].replace(dining_room_type_scaler)
# Cast float to int to remove decimal point (ONLY TO non-NA values)
print("After :" , housing_data_reduced['dining_room_type'].unique())

Converting dining_room_type from categorical to numeric...
Before : ['combo' 'formal' nan 'other' 'dining area' 'none']
After : [ 3.  5. nan  4.  2.  1.]

In [254]:
print("One hot encoding of dogs_allowed...")

print("Before: " , housing_data_reduced['dogs_allowed'].unique())
housing_data_reduced['dogs_allowed'] = housing_data_reduced['dogs_allowed'].replace({'yes89':'yes'}) # Convert y -> yes
housing_data_reduced['dogs_allowed'] = housing_data_reduced['dogs_allowed'].map({'yes': 1, 
                                                                                  'no': 0})
print("After: " , housing_data_reduced['dogs_allowed'].unique())

One hot encoding of dogs_allowed...
Before:  ['no' 'yes' 'yes89']
After:  [0 1]

In [255]:
print("Finding mean sale_price per fuel_type...")
# Find the mean price of each kitchen_type to find which one ranks the highest

# Join other && Other
housing_data_reduced['fuel_type'] = housing_data_reduced['fuel_type'].replace({'Other':'other'})
housing_data_reduced['fuel_type'].unique()

# Take a subset with values of sale_price so we can get the mean
# Group by 'dining_room_type' and calculate the mean of 'sale_price'
mean_sale_price_by_fuel_type = housing_data_reduced_subset.groupby('fuel_type')['sale_price'].mean()
print("Mean_sale_price_by_fuel_type: \n", mean_sale_price_by_fuel_type)

# Create a scaler to maintain order based off of mean price
fuel_type_scaler = { 'oil' : 1,
                     'none' : 2,
                     'gas' : 3,
                     'other' : 4,
                     'Other' : 4,
                     'electric' : 5}

Finding mean sale_price per fuel_type
Mean_sale_price_by_fuel_type:  fuel_type
Other       430000.000000
electric    438454.545455
gas         336916.990033
none        298333.333333
oil         264277.783333
other       430562.500000
Name: sale_price, dtype: float64

In [256]:
# Convert to numeric factor
print("Converting fuel_type from categorical to numeric...")
print("Before :" , housing_data_reduced['fuel_type'].unique())
# Conversion
housing_data_reduced['fuel_type'] = housing_data_reduced['fuel_type'].replace(fuel_type_scaler)
# Cast float to int to remove decimal point (ONLY TO non-NA values)
print("After :" , housing_data_reduced['fuel_type'].unique())

Converting fuel_type from categorical to numeric...
Before : ['gas' 'oil' nan 'other' 'electric' 'none']
After : [ 3.  1. nan  4.  5.  2.]

In [263]:
print("Encoding garage_exists...")
# Assume that NaN's don't have a garage
print("Before :", housing_data_reduced['garage_exists'].unique())

# If NaN = 0, Else = 1
#Set all null values to 0
housing_data_reduced['garage_exists'].fillna(0, inplace=True)
# Set all non-null values to 1
housing_data_reduced['garage_exists'] = housing_data_reduced['garage_exists'].apply(lambda x: 1 if x != 0 else 0)
print("After :", housing_data_reduced['garage_exists'].unique())

Encoding garage_exists...
Before : [nan 'Underground' 'Yes' 'yes' 'UG' '1' 'eys']
After : [0 1]

In [278]:
print("Finding mean sale_price per kitchen_type...")
print("Before: ", housing_data_reduced['kitchen_type'].unique())
# Find the mean price of each kitchen_type to find which one ranks the highest

# Normalize kitchen_type

# Define a function to clean the values
# Store variations in arrays
efficiency = ["efficiencykitchen", "efficiencyktchen", "efficiemcy", "efficiencykitchen", "efficiencykitchene", "efficiency"]
eatin = ["eatin", "EatIn", "Eatin", "eatin", "eat in"]
combo = ["combo", "Combo"]
other = ["1955", ""]

# Define a function to clean the values
def clean_kitchen_type(value):
    if pd.isna(value):
        return value  # Keep NaN as is
    value = value.lower().strip()  # Normalize case and whitespace
    if value in efficiency:
        return 'efficiency'
    elif value in eatin:
        return 'eatin'
    elif value in combo:
        return 'combo'
    elif value in other:
        return 'other'
    else:
        return value

# Apply the function to the DataFrame column
housing_data_reduced['kitchen_type'] = housing_data_reduced['kitchen_type'].apply(clean_kitchen_type)




# Take a subset with values of sale_price so we can get the mean
# Group by 'kitchen_type' and calculate the mean of 'sale_price'
mean_sale_price_by_kitchen_type = housing_data_reduced_subset.groupby('kitchen_type')['sale_price'].mean()
print("Mean_sale_price_by_fuel_type: \n", mean_sale_price_by_kitchen_type)

# Create a scaler to maintain order based off of mean price
# fuel_type_scaler = { 'oil' : 1,
#                      'none' : 2,
#                      'gas' : 3,
#                      'other' : 4,
#                      'Other' : 4,
#                      'electric' : 5}

Finding mean sale_price per kitchen_type...
Before:  ['eatin' 'efficiency' 'combo' nan 'other' 'none']
Mean_sale_price_by_fuel_type:
 kitchen_type
1955          325000.000000
Combo         394303.760000
Eat In        412029.411765
Eat in        468000.000000
combo         339577.032258
eat in        339170.652632
efficiency    265095.519481
Name: sale_price, dtype: float64

In [280]:
print("After: ", housing_data_reduced['kitchen_type'].unique())

After:  ['eatin' 'efficiency' 'combo' nan 'other' 'none']

In [265]:
housing_data_reduced
# # # 528 not null  + 1702 'sale-price'

# # Filter out the dates given 
# filtered_housing_data_reduced_date = housing_data_reduced[
#     (housing_data_reduced['date_of_sale'].dt.month == 2) &
#     (housing_data_reduced['date_of_sale'].dt.year.isin([2016, 2017]))
# ]

# filtered_housing_data_reduced_date

# # filtered_housing_data_with_sale_price = filtered_housing_data_reduced[filtered_housing_data_reduced['sale_price'].notnull()]
# # filtered_housing_data_with_sale_price.shape

,approx_year_built,cats_allowed,common_charges,community_district_num,coop_condo,date_of_sale,dining_room_type,dogs_allowed,fuel_type,full_address_or_zip_code,garage_exists,kitchen_type,maintenance_cost,model_type,num_bedrooms,num_floors_in_building,num_full_bathrooms,num_half_bathrooms,num_total_rooms,parking_charges,sale_price,sq_footage,walk_score
0,1955.0,no,$767,25.0,1,2016-02-16,3.0,0,3.0,"Flushing NY, 11355",0,eat in,NaN,Mitchell Garden 3,2.0,6.0,1,NaN,5.0,NaN,228000.0,NaN,82
1,1955.0,no,NaN,25.0,1,2016-02-16,5.0,0,1.0,"30-11 Parsons Blvd, Flushing NY, 11354 ( Sold...",0,eat in,$604,Jr-4 Model,1.0,7.0,1,NaN,4.0,NaN,235500.0,890.0,89
2,2004.0,no,$167,24.0,2,2016-02-17,3.0,0,NaN,"102-14 Lewis Ave, Corona NY, 11368",0,efficiency,NaN,Apt In Bldg,1.0,1.0,1,NaN,3.0,NaN,137550.0,550.0,90
3,2002.0,no,$275,25.0,2,2016-02-17,3.0,0,3.0,"144-48 Roosevelt Ave, Flushing NY, 11354",0,eat in,NaN,144-48 Roosevelt,3.0,NaN,2,NaN,5.0,NaN,545000.0,NaN,94
4,1949.0,yes,NaN,26.0,1,2016-02-18,3.0,1,3.0,"245-27 76th Ave, Bellerose NY, 11426",0,eat in,$660,C-1,2.0,2.0,1,NaN,4.0,NaN,241700.0,675.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2225,1987.0,no,$480,25.0,2,NaT,3.0,0,3.0,"Not AvailableFlushing NY, 11355",0,combo,NaN,Colden Luxury Condo,2.0,7.0,1,NaN,4.0,NaN,NaN,NaN,97
2226,1983.0,yes,$956,25.0,2,NaT,5.0,0,3.0,"One Bay Club Dr, Bayside NY, 11360",1,eatin,NaN,2 Br Deluxe,2.0,NaN,2,NaN,5.0,$99,NaN,NaN,82
2227,2010.0,no,$250,24.0,2,NaT,5.0,0,3.0,"Ridgewood NY, 11385",0,combo,NaN,Modern,3.0,NaN,2,NaN,6.0,NaN,NaN,1500.0,96
2228,2010.0,no,$250,24.0,2,NaT,5.0,0,3.0,"Ridgewood NY, 11385",0,combo,NaN,Condo,3.0,4.0,2,NaN,6.0,NaN,NaN,1600.0,96
2229,1982.0,no,$792,25.0,2,NaT,5.0,0,3.0,"Two Bay Club Drive, Bayside NY, 11360",1,combo,NaN,2 Bedroom,2.0,NaN,2,NaN,5.0,NaN,NaN,1134.0,82

In [96]:
# February, 2016 and February, 2017

# NO DATE - CONSIDER IN RANGE 
# Impute 1703 to get more y's

1950.0    311
1955.0    149
1960.0    136
1965.0     82
1952.0     80
         ...
1912.0      2
1915.0      1
1944.0      1
1997.0      1
1972.0      1
Name: approx_year_built, Length: 95, dtype: int64